* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: sans-serif;
  background-color: #1c2d43;
  text-align: center;
}

.loader {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader div {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background: rgb(22, 150, 255);
  position: relative;
  border-radius: 50px;
  animation: scaleLoader 0.5s linear 0s infinite alternate;
}

@keyframes scaleLoader {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #1976d2;
  height: 43px;
  align-items: center;
  margin: 0 0 10px;
}

.navBar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.chat-list {
  border-radius: 0 20px 20px 0;
  width: 18%;
  min-width: 160px;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  background-color: #1976d2;
  color: white;
  font-size: 20px;
}

.chat-list li {
  justify-content: space-around;
}

.chat-list a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 15px 0;
  border: 3px solid white;
  cursor: pointer;
  padding: 9px 11px;
}

.btn-add-chat {
  text-decoration: none;
  color: white;
  font-size: 45px;
  padding: 11px 23px;
  border: 3px solid white;
  border-radius: 50px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.message-box {
  padding: 35px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 20px;
}

.message-box h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.message-box .user-box {
  position: relative;
  width: 100%;
}

.message-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.message-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.message-box .user-box input:focus~label,
.message-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.message-box form button {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.message-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.message-box button span {
  position: absolute;
  display: block;
}

.message-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 4s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.btn-exit {
  position: fixed;
  bottom: 0;
  left: 20px;
  border: 3px solid white;
  padding: 10px;
  margin: 10px 0 25px;
}

.btn-news {
  border: 3px solid white;
  padding: 10px;
  margin: 10px 0 25px;
}

.wrp {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.message-list {
  display: flex;
  margin-top: 30px;
  flex-direction: column-reverse;
  top: 390px;
  left: 210px;
  right: 10px;
  color: white;
}

.message {
  width: 80%;
  margin: 0 auto 35px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 20px;
}

.message h3 {
  color: #03e9f4;
}

.news {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.wrp-news {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 23px;
  width: 30%;
  min-width: 340px;
  border: 1px solid white;
  flex-direction: column;
  color: white;
}

.wrp-news img {
  width: 300px;
  height: 200px;
}